body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: lightgreen;
}
h1 {
    text-align: center;
}
.songDiv {
    text-align: center;
    margin: 20px auto;
    background-color: white;
    border: 1px solid black;
    max-width: 40%;
    max-height: 50px;
    display: flex;
    justify-content: space-between;
    transition: all 0.5s;
}
.songProperties {
    text-align: left;
    display: inline-block;
    margin: auto 0;
    width: 70%;
    padding-left: 10px;
}
.songProperties div:first-child {
    font-size: 14px;
    font-weight: 600;
    display: inline-block;
}
.songProperties div:nth-child(2) {
    display: inline;
    color: black;
    font-size: 10px;
    font-weight: 500;
    padding: 0 10px;
}
.songProperties div:nth-child(3) {
    display: inline;
    color: silver;
    font-size: 10px;
    font-weight: 500;
    
}
.songProperties div:nth-child(4) {
    font-size: 12px;
    width: 100%;
    font-weight: 600;
}
.songProperties div {
    font-weight: bold;
}

.imgDiv {
    display: inline-block;
    max-width: 30%;
}
.imgDiv img {
    height: 50px;
}

/* songProperties div:last-of-type {
    display: inline;
    position: relative;
    /* bottom:100px; */
/* }  */
.songProperties img {
    height: 100px;
}

.playing {
    max-width: 50%;
    transition: all 0.5s;
}