body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1 {
    text-align: center;
}
.songDiv {
    text-align: center;
    margin: 20px auto;
    background-color: lightgrey;
    border: 1px solid black;
    border-radius: 20px;
    max-width: 50%;
    display: flex;
    justify-content: space-between;
}
.songProperties {
    text-align: left;
    display: inline-block;
    max-width: 50%;
    padding: 20px;
}
.songProperties div {
    color:grey;
    font-weight: bold;
}

.imgDiv {
    display: inline-block;
    max-width: 50%;
    padding: 20px;
}
.imgDiv img {
    height: 100px;
    margin-right: 0;
}

/* songProperties div:last-of-type {
    display: inline;
    position: relative;
    /* bottom:100px; */
/* }  */
.songProperties img {
    height: 100px;
}

.playing {
    background-color: lightgreen;
}