body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1 {
    text-align: center;
}
.songUl {
    list-style-type: none;
    margin: 20px auto;
    text-align: right;    
    max-width: 50%;
    padding: 20px 0;
    border: 1px solid black;
    border-radius: 20px;
    background-color: rgb(32, 32, 32);
    
}
.songUl li {
    text-align: left;
    padding: 2px 30px;
    color:white;
    font-weight: bold;
}
.songUl img {
    height: 100px;
}
